body {
    margin: 0;
    background-color: rgb(10, 10, 10);
    color: white;
    border-bottom: 1px solid;
    padding: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 40px;
    padding-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.olive {
    font-size: 30px;
}
.right-nav {
    display: flex;
    align-items: center;
}
.right-nav a {
    font-size: 17px;
    padding-left: 35px;
}

.img {
    display: flex;
    gap: 25px;
}

.can-img img {
    width: 100%;
    height: 290px;
}

.tape-img img {
    width: 100%;
    height: 350px;
}

.macbook img {
    width: 100%;
    height: 460px;
}

.can-img {
    width: 30%;
}
.tape-img {
    width: 35%;
}
.macbook {
    width: 35%;
}


.top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.left-col p {
    margin: 0;
    padding-bottom: 1rem;
}

h1 {
    font-size: 110px;
    margin: 0;
    line-height: 90px;
}
.left-col span {
    font-style: oblique;
    font-weight: 400;
}

.right-col {
    width: 40%;
    font-size: 16px;
}


.discuss-btn {
    border: 1px solid;
    height: 45px;
    width: 150px;
    font-size: 1.2rem;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
}


.left-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-info p {
    font-size: 20px;
}

.right-info {
    width: 60%;
}
.read-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    font-size: 23px;
}

.read-more a {
    font-size: 18px;
    padding-bottom: 10px;
}

.right-info img {
    height: 410px;
    width: 100%;
    margin-top: 40px;
}

.extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.featured {
    font-size: 60px;
    font-weight: bold;
    width: 30%;
}

.featured-info {
    width: 30%;
}
.featured-info p {
    padding-bottom: 20px;
}

.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.left-end {
    display: flex;
    justify-content: space-between;
    width: 65%;
    align-items: center;
}

.web-text {
    width: 350px;
} 

h2 {
    font-size: 45px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}

h2 span {
    font-size: 30px;
    font-weight: 200;
}

.end img {
    height: 160px;
    width: 260px;
}
.end a {
    font-size: 20px;
}

.arrow-right {
    transform: rotateZ(-40deg);
    width: 20px;
}

.read-more img {
    width: 20px;
    height: 16px;
}

.end img.arrow-right {
    height: 20px;
    width: 20px;
}

img {
    object-fit: cover;
}

@media (min-width: 320px)  and (max-width: 767px) {
    body {
        padding: 1.5rem;
    }
    header {
        height: 100%;
    
    }
    
    .right-nav a {
        font-size: 17px;
        padding: 0;
    }
    .right-nav a:not(:nth-child(4)) {
        display: none;
    }

    .img {
        flex-direction: column;
        height: 100%;
        margin-bottom: 4rem;
    }
    .can-img {
        width: 100%;
    }
    .tape-img {
        width: 100%;
    }
    .macbook {
        width: 100%;
    }
    .can-img img {
        width: 100%;
        height: 100%;
    }
    .tape-img img {
        width: 100%;
        height: 100%;
    }
    .macbook img {
        width: 100%;
        height: 100%;
    }


    .top-info {
        flex-direction: column;
        height: 100%;
        margin-bottom: 3rem;
    }
    .left-info {
        width: 100%;
        height: 100%;
    }
    .left-col {
        width: 100%;
        height: 100%;
    }
    .left-col p {
        height: 20px;
    }
    h1 {
        font-size: 40px;
        line-height: 35px;
    }
    .right-col {
        width: 100%;
        font-size: 1.4rem;
        padding: 0;
    }
    .right-col p {
        height: 100%;
        font-size: 19px;
    }

    .discuss-btn {
        height: 40px;
        width: 120px;
        font-size: 1rem;
    }
    .arrow-right {
        width: 25px;
    }

    
    .read-more {
        font-size: 17px;
        padding-top: 20px;
    }
    .read-more a {
        font-size: 12px;
    }
    .read-more a img {
        width: 12px;
        margin: 0;
    }
    .extras {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .info {
        flex-direction: column;
        height: 100%;
    }
    .right-info {
        width: 100%;
    }
    .right-info img {
        width: 100%;
        height: 100%;
        margin-top: 15px;
    }
    .featured {
        font-size: 2rem;
        width: 100%; 
        padding-top: 20px;
        text-align: center;
    }
    .featured-info {
        width: 100%;
        padding: 0;
        height: 100%;
    }
    .end {
        flex-direction: column;
        height: 100%;
    }
    .left-end {
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;
    }
    .web-text {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
    h2 {
        justify-content: center;
        font-size: 2rem;
        margin: 0;
    }
    h2 span {
        font-size: 18px;
    }
    .end img {
        width: 50%;
        height: 50%;
    }
    .end a {
        font-size: 30px;
    }
}


@media (min-width: 768px)  and (max-width: 900px) {

    .can-img {
        width: 100%;
    }
    .tape-img {
        width: 100%;
    }
    .macbook {
        width: 100%;
    }

    .img {
        flex-direction: column;
        height: 100%;
        margin-bottom: 20px;
    }
    .can-img img {
        width: 100%;
        height: 100%;
    }
    .tape-img img {
        width: 100%;
        height: 100%;
    }
    .macbook img {
        width: 100%;
        height: 100%;
    }
    .top-info {
        height: 100%;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }
    .left-col {
        width: 100%;
        height: 100%;
    }
    .left-col p {
        height: 30px;
    }
    h1 {
        font-size: 70px;
        line-height: 60px;
    }
    .discuss-btn {
        height: 35px;
        width: 120px;
        font-size: 1rem;
    }
    .right-col {
        width: 50%;
        height: 100%;
        font-size: 0.9rem;
        padding: 0;
    }
    .right-col p {
        height: 100%;
    }
    .info {
        flex-direction: column;
        height: 100%;
        gap: 10px;
    }
    .left-info {
        width: 100%;
        height: 100%;
    }
    .right-info {
        width: 100%;
    }
    .right-info img {
        width: 100%;
        height: 100%;
        margin-top: 15px;
    }
    .read-more {
        font-size: 22px;
        padding-top: 20px;
    }
    .read-more a {
        font-size: 16px;
    }
    .read-more a img {
        width: 15px;
        margin: 0;
    }
    .extras {
        height: 100%;
        margin-bottom: 3rem;
    }
    .featured {
        font-size: 40px;
        padding-top: 0;
    }
    .web-text {
        width: 100%;
        font-size: 18px;
    }
    h2 {
        font-size: 30px;
        margin: 0;
    }
    h2 span {
        font-size: 18px;
        padding-left: 10px;
    }
    .left-end {
        width: 100%;
        margin-bottom: 2rem;
    }
    .end {
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .end a {
        font-size: 30px;
    }
}

@media (min-width: 901px) and (max-width: 1160px) {
    h1 {
        font-size: 6rem;
    }
    .right-col {
        width: 45%;
    }

}